<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Final Results</h2>
    <body>
       <!-- 
        #FOR 1.
       {% if result>=30 %}
       <h1>Your result is Pass</h1>
       {% else %}
       <h1>Your result is Fail</h1>
       {% endif %}
    -->
       {# This is FOR 2. #}
    <table border="2">
       {% for key,value in result.items() %}
        <tr>
            <th>{{ key }}</th>
            <th>{{ value }}</th>
        </tr>
       {% endfor %}
    </table>
    </body>
</body>
</html>